.u-invisible {
  visibility: hidden;
}

.u-align-left {
  text-align: left;
}

.u-align-right {
  text-align: right;
}

.u-vertical-align-middle {
  vertical-align: middle;
}

.u-clickable {
  cursor: pointer;
}

.u-text-decoration-none {
  text-decoration: none;
}
